html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: rgb(235, 228, 219);
}
h1{
    text-align: center;
    font-size: 40px;
    
}
h2{
    text-align: right;
    font-size: 30px;
    
}
footer{
    text-align: center;
    margin-top: auto;
}

hr{
    border: 0;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}